DB_HOST=127.0.0.1
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password
DB_PORT=3306

APP_URL=https://caterflowid.com/Caterflow

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=minipos151203@gmail.com
SMTP_PASS="irqn rbzj cqcs mljh"
SMTP_FROM=minipos151203@gmail.com
SMTP_FROM_NAME=Caterflow
# SMTP_USER = "Who is logging into the mail server?"      
# SMTP_FROM = "Whose email address appears in the From: header?"                                               
                                                                        
# DB_HOST=caterflow-db.clccomw42d9x.ap-southeast-2.rds.amazonaws.com
# DB_NAME=caterflow
# DB_USER=Caterflow_admin
# DB_PASS=Adiyasa04
# DB_PORT=3306


# APP_URL=https://caterflowid.com/Caterflow
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465
# SMTP_USER=minipos151203@gmail.com
# SMTP_PASS="irqn rbzj cqcs mljh"
# SMTP_FROM=minipos151203@gmail.com
# SMTP_FROM_NAME=Caterflow

